@import "../../App.scss";

.footer{
 


   

    a {
        color:black;

        &:hover {
            color: black;
        }
    }

    .social-links {
        display: flex;
        margin-top: 0px;

        a{
            background-color: rgba(216, 216, 122, 0.342);
            color: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1px;
            height: 5px;
            margin-right: 0px;
            border-radius: 0px;

            &:hover{
                background-color: black;
            }
            &:last-child {
                margin-right:20px;
            }

            svg{
                width: 1px;
                height: 1px;
            }
        }
    }
}

